NODE_ENV=development

# Message Broker Service
MESSAGE_BROKER_SERVICE=azure
# Azure Service Bus 
AZURE_SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://<your-namespace>.servicebus.windows.net/;SharedAccessKeyName=<your-key-name>;SharedAccessKey=<your-key>
AZURE_SERVICE_BUS_QUEUE_NAME=<your-queue-name>

# PubSub Service
PUBSUB_SERVICE=azure
# Azure Web Pub Sub
AZURE_WEBPUBSUB_CONNECTION_STRING=Endpoint=https://<webpubsub-name>.webpubsub.azure.com;AccessKey=your-key;Version=<version>
AZURE_WEBPUBSUB_HUB=mesh-jobs